<!DOCTYPE html>
<html>
  <head>
    <title>Word Definitions</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>
    <link rel="stylesheet" href="/styles.css">
  </head>
  <body>
    <div class="container">

    <div class="row">
      
      <div class="col-md-4"></div>

      <div class="col-md-4">
      <%= yield %>
        <footer>&copy; Copyright 2020 Reid Ashwill</footer>
      </div>
      <div class="row">
        <img src="https://bit.ly/2Z7oBsX">
      </div>
      <div class="col-md-4"></div>
    </div>  
  </body>
</html>